<!DOCTYPE html>
<html>
<head>
    <title>Welcome!!!</title>
</head>
<body>
    <h1>Welcome!!! 우리는 음악 소모임 이예원입니다.</h1>
    <form method="post">
        <label for="name">이름:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="email">이메일:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="when">언제 마지막으로 음악을 들었나요?:</label>
        <textarea id="when" name="when" required></textarea><br>

        <input type="submit" value="제출">
    </form>
</body>
</html>
